@import "variables";

h2 {
  color: $red-color;
}
h1 {
  color: #242424;
  font-weight: 700;
  font-size: 28px;
}
h5{color:$red-color;
text-transform: uppercase;

}
a{text-decoration: none;}
.dropdown-toggle::after{display:none;}
.dropdown-menu{
  border-radius: 10px;
  padding: 8px 10px;
  min-height:350px;
  left: -175px!important;
}
.item-user{display: flex;}

.logo{
  height: 38px ;
  width: 38px;
  border-radius: 10px;
}
.navbar-brand{
  display: flex;
}
.title-logo{
  color: #333;
  padding-left: 5px;
  font-size: 15px;  
  font-weight: 700;
  padding-top: 7px;
}
.avatar{
  width:38px;
  height: 38px;
  border-radius: 50%;}
.avatar-user{border-radius: 50%;width: 50px; height:50px ;}
.title-user{padding: 0 0 0 10px;}
.name-user{font-weight: 700;}
.card-courses-item{min-height: 375px;margin-bottom: 10px;}
.card-text{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 96px;
}
.edit-remove-course{
  display: flex;
  justify-content: space-between;
}
.btn-danger{
  font-weight: 600;
}
.btn-warning{
  font-weight: 600;
}